<section class="content__ofert">
    <h1>{{customtitle}}</h1>
    <div class="content__ofert__scroll">
        <div style="float: left;margin-right: 5px;cursor: pointer;">
            <img src="../../../../../assets/img/left.png" (click)="scrollLeft()" alt="">
        </div>
        <div #widgetsContent class="content__ofert__scroll__content text-center">
            <div class="col-sm-12 col-lg-3 mix o width-card"  *ngFor="let jobcur of otherJobs;">
                <div class="company-item text-center">
                    <div class="top">                        
                        <p class="datejob">Publicado el {{jobcur.screationdate}}</p>
                        <div style="width: 100%; height: 70px;overflow-wrap: break-word; text-align: center;">                            
                            <h3 class="titulo-puesto" style="font-family: Roboto; font-weight: bold; cursor: pointer;text-transform: uppercase;font-size: 18px;" (click)="redirectJob(jobcur.id_job)">{{jobcur.stitle}}</h3>
                        </div>
                        <img src="{{jobcur.scompanyimageurl}}" width="130px" style="height: 70px;" alt="Empresa" class="imgcompanyjob">
                        <br><br>
                        <ol class="listajobdetail">
                            <li><i class="pi pi-clock"></i>Full time</li>
                            <li><i class="pi pi-home"></i>{{jobcur.slocation}}</li>
                            <li><i class="pi pi-map-marker"></i>{{jobcur.smodality}}</li>
                        </ol>                        
                    </div>
                    <div class="bottom text-center">
                        <a class="cmn-btn-postular" (click)="redirectJob(jobcur.id_job)" style="cursor: pointer;" >Ver Empleo</a>
                    </div>
                </div>
            </div>
            
        </div>
        <div style="float: right;margin-left: 5px;cursor: pointer;">
            <img src="../../../../../assets/img/rigth.png" (click)="scrollRight()" alt="">
        </div>
    </div>
</section>