<!-- Login -->
<p-toast></p-toast>
<app-header-side></app-header-side>
<div class="user-form-area">
    <div class="container-fluid p-0">
        <div class="row m-0 align-items-center">
            <div class="col-lg-6 p-0 col-md-12">
                <div class="user-content">
                    <div class="top">
                        <div class="title">Recuperar contraseña</div>
                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
                            <div class="form-group mt-3">
                                <input type="email" [formControl]="forgotPasswordForm.controls['email']" class="form-control" placeholder="ingrese correo electrónico">
                                <small
                                *ngIf="
                                forgotPasswordForm.controls['email'].hasError('required') &&
                                forgotPasswordForm.controls['email'].touched
                                "
                                style="color: red;"
                              >
                                Se requiere el correo.
                              </small>
                              <small
                                *ngIf="
                                forgotPasswordForm.controls['email'].hasError('email') &&
                                forgotPasswordForm.controls['email'].touched
                                "
                                style="color: red;"
                              >
                                Correo inválido.
                              </small>   
                            </div>

                            <button type="submit" class="btn mb-2" style="background-color: #12369E;cursor: pointer;" [disabled]="forgotPasswordForm.invalid">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0 col-md-12">
                <div class="user-img">
                    <img class="w-100 h-100" style="object-fit: cover;" src="assets/img/resgister-bg.jpg" alt="User">
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<!-- End Login -->