.message {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0.005em;

    /* Azul */
    color: #12369e;
}

.message2{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.005em;

    /* Azul */
    color: #12369e;
}

.description {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #3f3f3f;
}

.user-img{
    width: 100%;
    height: 100%;
}

.user-form-area{
    padding-top: 57px;
    height: 100%;
}