.button-buscar {
    height: 60px;
    width: 115px;
    border-radius: 6px;
    padding: 14px, 32px, 14px, 32px;
    background-color: #12369e !important;
    padding-right: 0px !important;
    padding-left: 0px !important;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #ffffff;
}
.banner-area.three {
    background-color: white;
}
.titulohome {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px !important;
    line-height: 150%;
    color: #3f3f3f !important;
}

// .banner-content.three h1, .banner-content.three .h1{
//     position: absolute;
// width: 593px;
// height: 150px;
// left: 77px;
// top: 247px;

// display: flex;
// align-items: center;
// letter-spacing: 0.005em;

// }

.nice-select.open .list {
    max-height: 300px;
    overflow-y: scroll;
}

.textpostulate {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #3f3f3f !important;
}
.listalogos {
    list-style: none;
    padding-top: 28px;

    li {
        display: inline-block !important;
        padding-right: 33px;
    }
}

select {
    /* Light / Light 1 */
    border: 1px solid #dde5e9;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 15px;
}

select:focus {
    border: 1px solid #dde5e9;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.company-item .top p{
    text-align: justify;
}

.space-home {
    height: 0px !important;
}

@media screen and (max-width: 1024px) {
    .banner-content .banner-form-area{
        max-width: 100%;
    }
}

@media screen and (max-device-width: 480px) {
    .container-fluid{
        height: 600px !important;
    }

    .d-table-cell > img{
        top: 50% !important;
        position: inherit !important;
        height: 100px !important;
    }

    .banner-content .banner-form-area .form-group .form-control{
        font-size: 24px !important;
        height: 100px !important;
        width: 100% !important;
    }

    .banner-content .banner-form-area .btn{
        width: 40% !important;
        height: 50px !important;
        font-size: 20px !important;
    }
    .textpostulate{
        font-size: 20px !important;
    }
    ol.listalogos{
        line-height: 8 !important;
    }
    // ol.listalogos > li > img {
    //     height: 60px !important;
    // }

    .titulohome {
        font-size: 32px !important;
        margin-top: 15px !important;
    }
    .space-home {
        height: 120px !important;
    }
    .listalogos {
        padding-top: 0px !important;
    }
    #inputEmpresa, #inputState {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        height: 60px !important;
        font-size: 18px !important;
    }
}

.logofe{
    position: absolute;
    top: 25%;
    height: 65px;
}

@media screen and (max-width:991px) {
    .logofe{
        position: inherit !important;
    }
}

@media screen and (max-width:320px) {
    .container-fluid{
        height: 920px !important;
    }
}