<!-- Post A Job -->
<div class="post-job-area ptb-100 contenedorprincipal">
    <div class="container contenedorhijo" >
        <form>
            <div class="post-item">
                
                <p class="textnewsletter">
                    ¡Recibe las mejores ofertas y trabaja en GRUPO FE!
                </p>

                <button type="submit" class="btn btnnewsletter" style="cursor: pointer;" [routerLink]="['/register']"> Regístrate Aquí </button>
                <img src="assets/img/grupofe/newsletter.png" alt="Shape" class="imagennewsletter" />
            </div>
        </form>
    </div>
</div>
<!-- End Post A Job -->