<!-- Footer -->
<footer class="footer-area three">
    <div class="container">
        <div class="row" style="padding-top: 48px;">
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item three">
                    <div class="footer-service" style="padding-top: 11px;">
                        <ul>
                            <li><a routerLink="/jobs">Nosotros</a></li>
                            <li><a routerLink="/jobs">Ofertas de Empleo</a></li>
                            <li><a routerLink="/jobs">Condiciones de Contratación</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item three">
                    <div class="footer-service"  style="padding-top: 11px;">
                        <ul>
                            <li><a routerLink="/terms-conditions">Términos y Condiciones</a></li>
                            <li><a routerLink="/privacy-policy">Políticas de Privacidad</a></li>
                            <li><a routerLink="/jobs">Libro de Reclamaciones</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="footer-item three">
                    <div class="footer-service" style="text-align: center;" >
                        <ul style="display: inline-flex;height: 50px;" >
                            <li  class="lilogo"> <a class="logo logo-margin" routerLink="/index.html"><img src="assets/img/logo-footer/Grupo fe blanco.svg" alt="Logo"  ></a> </li>
                            <li  class="lilogo"> <a class="logo logo-margin" routerLink="/index.html"><img src="assets/img/logo-footer/Campo fe blanco.svg" alt="Logo"  ></a></li>
                        </ul>
                        <ul style="display: inline-flex;height: 44px;">
                            <li  class="lilogo"> <a class="logo logo-margin" routerLink="/index.html"><img src="assets/img/logo-footer/Presta Fe blanco.svg" alt="Logo"  ></a> </li>
                            <li  class="lilogo"> <a class="logo logo-margin" routerLink="/index.html"><img src="assets/img/logo-footer/Fe Salud blanco.svg"  alt="Logo"  ></a></li>
                        </ul>                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item three">
                    <div class="footer-service"  style="padding-top: 11px;">
                        <ul>
                            <li style="margin-bottom: 0px;" class="li-display">  &nbsp; </li>
                            <li style="margin-bottom: 0px;" class="li-display"> &nbsp;</li>
                            <li><a>© Copyright 2022. Todos los derechos reservados</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item three three-final">
                    <div class="footer-service" style="padding-top: 11px;">
                        <ul>
                            <li style="margin-bottom: 0px;" class="li-display">  &nbsp; </li>
                            <li  style="margin-bottom: 0px;height: 15px;" class="li-display"> &nbsp;</li>
                            <li>
                                <ul style="display: inline-flex;height: 50px;" >
                                    <li  style="width:30px;" > <a  routerLink="/index.html"><img src="assets/img/logo-footer/icon facebook.svg" alt="Logo"  ></a> </li>
                                    <li  style="width:30px;" > <a  routerLink="/index.html"><img src="assets/img/logo-footer/icon linkedin.svg" alt="Logo"  ></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
