<div class="content">
    <div class="content__title">
        <div class="content__title-left">
            <img src="../../../../../../assets/img/postulaciones.png" alt="">
            <h1>Mis Postulaciones</h1>
        </div>
       <!-- <div class="content__title-rigth">
            <span>¿Quieres recibir novedades de tus postulaciones?</span>
            <button>Configurar alertas</button>
        </div>-->
    </div>
    <div class="content__info">
        <div class="content__info__detail">
            <div class="content__info__detail-header">
                <img src="../../../../../../assets/img/cvenviado.png" alt="">
                <span>{{state.ncvsend}}</span>
            </div>
            <span>CV enviado</span>
        </div>
        <hr>
        <div class="content__info__detail">
            <div class="content__info__detail-header">
                <img src="../../../../../../assets/img/cvnoleido.png" alt="">
                <span>{{state.ncvnoread}}</span>
            </div>
            <span>CV no leÍdos</span>
        </div>
        <hr>
        <div class="content__info__detail">
            <div class="content__info__detail-header">
                <img src="../../../../../../assets/img/cvleido.png" alt="">
                <span>{{state.ncvread}}</span>
            </div>
            <span>CV leÍdos</span>
        </div>
        <hr>
        <div class="content__info__detail">
            <div class="content__info__detail-header">
                <img src="../../../../../../assets/img/cvfinalizados.png" alt="">
                <span>{{state.nfinish}}</span>
            </div>
            <span class="content__info__detail-span">Finalizadas</span>
        </div>
    </div>
</div>