<div class="contenedor-skills mt-4">
    <div class="work">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-center justify-content-md-start title">
                Conocimientos y habilidades
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-center justify-content-md-end">
                <button class="button-agregar" (click)="openModalWithComponent({}, true)"  style="cursor: pointer;">
                    <img style="padding-right: 5px;" src="../../../../../../assets/icons/add.png" alt=""> Agregar
                 </button>
            </div>
        </div>
        <hr style="border: 1px solid #12369E;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 d-flex align-content-center flex-wrap">
                <span *ngFor="let item of lstSkills;" class="tag">
                    <div class="tag-custom-text">
                       {{item.descriptionSkill}}
                    </div>
                    <button (click)="Delete(item)" class="icon"><img src="assets/icons/close.png" style="cursor: pointer;" alt=""></button>
                    <!-- <button (click)="Delete(item)" class="icon"><img src="../../../../../../../assets/icons/close.png" alt=""></button> -->
                 </span>
            </div>
        </div>
    </div>
</div>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="row p-fluid">
                <div class="col-6">
                    <button type="button" pButton (click)="onConfirm(message.data)" label="Si" style="cursor: pointer;" class="p-button-success"></button>
                </div>
                <div class="col-6">
                    <button type="button" pButton (click)="onReject()" label="No" style="cursor: pointer;" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>