<!-- Login -->
<p-toast></p-toast>
<app-header-side></app-header-side>
<div class="user-form-area">
    <div class="container-fluid p-0">
        <div class="row m-0 align-items-center">
            <div class="col-lg-6 p-0 col-md-12">
                <div class="user-content">
                    <div class="top">
                        <div class="title">Cambio de contraseña</div>
                        
                        <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
                            <div class="form-group mt-3">
                                <input type="password" [formControl]="changePasswordForm.controls['passwordWithoutEncryption']" class="form-control" placeholder="Nueva contraseña">
                                <small
                                *ngIf="
                                  changePasswordForm.controls['passwordWithoutEncryption'].hasError('required') &&
                                  changePasswordForm.controls['passwordWithoutEncryption'].touched
                                "
                                style="color: red;"
                              >
                                Se requiere la contraseña
                              </small>
                              <small 
                              *ngIf="changePasswordForm.controls['passwordWithoutEncryption'].hasError('minlength') && changePasswordForm.controls['passwordWithoutEncryption'].touched" 
                              style="color: red;"> La contraseña debe contener un mínimo de  {{changePasswordForm.controls['passwordWithoutEncryption'].errors.minlength.requiredLength}} caracteres </small>
                              
                              <small 
                              *ngIf="changePasswordForm.controls['passwordWithoutEncryption'].hasError('maxlength') && changePasswordForm.controls['passwordWithoutEncryption'].touched" 
                              style="color: red;"> La contraseña no puede contener mas de  {{changePasswordForm.controls['passwordWithoutEncryption'].errors.maxlength.requiredLength}} caracteres </small>
                            </div>
                            <div class="form-group">
                                <input type="password" [formControl]="changePasswordForm.controls['passwordConfirm']" class="form-control" placeholder="Confirme nueva contraseña">
                                <small
                                *ngIf="
                                  changePasswordForm.controls['passwordConfirm'].hasError(
                                    'required'
                                  ) && changePasswordForm.controls['passwordConfirm'].touched
                                "
                                style="color: red;"
                                >Se requiere confirmación de contraseña.</small
                              >
                              <small
                                *ngIf="
                                  changePasswordForm.controls['passwordConfirm'].hasError(
                                    'equalTo'
                                  )
                                "
                                style="color: red;"
                                >Contraseñas no coinciden.</small>
                            </div>

                            <button type="submit" class="btn mb-2" style="background-color: #12369E;cursor: pointer;" [disabled]="changePasswordForm.invalid">Cambiar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0 col-md-12">
              <div class="user-img">
                  <img class="w-100 h-100" style="object-fit: cover;" src="assets/img/resgister-bg.jpg" alt="User">
              </div>
          </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<!-- End Login -->